body {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  margin: 0 auto;
  width: 1900px;
}

.header-wrap {
  display: flex;
  width: 100%;
  background: #313131;
}

.header-left {
  width: 25%;
  padding-left: 29px;
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* padding-top: 11px;
   padding-bottom: 26px */
}

.logo-text {
  font-size: 22px;
  padding-left: 29px;
}

.header-center {
  color: #ffffff;
  /* padding-top: 28px;
  padding-bottom: 26px;  */
}

.logo-text {
  display: inline-block;
  color: #ffffff;
}

.header-center {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  align-items: center;
  /* flex-direction: row; */
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-list .menu-item a {
  padding: 28px 35px 26px 0;
  /* padding-right: 35px;
  padding-top: 22px; */
  font-size: 15px;
  display: inline-block;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

.icon {
  display: block;
}

.section-news {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 116px;
  background-image: url("../img/header-bg.jpeg");
  background-position: center;
  background-size: cover;
  height: 475px;
}

.section-news .news-shadow {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 1;
  background-color: black;
  /*right: 0;*/
  /*bottom: 0;*/
  width: 100%;
  height: 100%;
}

.section-news .divider {
  margin-bottom: 66px;
}

.section-news .news-container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.section-news .colored {
  color: #f1ad1d;
}

.section-news .news-title {
  margin-bottom: 66px;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
}

.section-news .news-images {
  display: flex;
  align-items: center;
  margin: 0 -30px;
}

.section-news .image-item {
  margin: 0 30px;
}
